<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023238974434-sfjprvpdisul2r92j6amr3f0na39f6de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023238974434-sfjprvpdisul2r92j6amr3f0na39f6de</string>
	<key>API_KEY</key>
	<string>AIzaSyCWZxFkDRhWDaRMae_Y8HgYZxwbC4PM4q0</string>
	<key>GCM_SENDER_ID</key>
	<string>1023238974434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>islamic-goals.Islamic-Goals-01</string>
	<key>PROJECT_ID</key>
	<string>islamicgoals-5f9bc</string>
	<key>STORAGE_BUCKET</key>
	<string>islamicgoals-5f9bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023238974434:ios:4982727c4a45fb06f6e7bb</string>
	<key>DATABASE_URL</key>
	<string>https://islamicgoals-5f9bc.firebaseio.com</string>
</dict>
</plist>
